<mat-card class="text-center p-3" [ngClass]="{'text-center' : !fullWidthMode}">
<div class="p-4" [ngClass]="{flex : fullWidthMode}">
  <img src="https://via.placeholder.com/150"
  [ngClass]="{'h-200px' : !fullWidthMode, 'h-[360px]' : fullWidthMode }"
  class="mb-1 mx-auto h-[200px]">
  <div class="w-full" [ngClass]="{'px-8 flex flex-col justify-between' : fullWidthMode}">
    <div>
      <h5>Shoes</h5>
      <p class="truncate hover:whitespace-normal">Snickers</p>
      <p *ngIf="fullWidthMode">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum a ipsa optio recusandae asperiores placeat nihil perferendis officia fuga minus.</p>
    </div>
    <div class="flex justify-between">
      <span class="text-red-400">{{'150' | currency}}</span>
      <button>
        <mat-icon class="text-grey-500">shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>
</mat-card>
